.tile_count{
	color: #73879c;
	font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif



	margin-bottom:20px;
	margin-top: 20px;
	margin-right: -10px;
	margin-left: -10px;
}

.tile_stats_count{
	margin-bottom: 10px;
	padding-bottom: 10px;
	padding: 0 10px 0 20px;
	text-overflow:ellipsis;
	overflow: hidden;
	white-space: nowrap ;
	position: relative;
	font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
	cursor: pointer;
}

.tile_count .tile_stats_count::before {
    content: "";
    position: absolute;
    left: 0px;
    height: 65px;
    border-left: 2px solid #ADB2B5;
    margin-top: 10px;
}

/*@media all and (min-width:992px)*/
.tile_count :first-child.tile_stats_count::before {
    border-left: 0;
}


.count{
	font-size : 40px;
	line-height: 47px;
	font-weight:600;
	color: #73879c;
	box-sizing:border-box;

}
.tile_count .tile_stats_count span{
	font-size:13px;
	box-sizing:border-box;
	color: #73879c;
	font-weight: 400;
	line-height: 2.471;
}

.green{
	color: #1abb9c;	
}

.red{
	color: #e74c3c;;
}

.fa{
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	font-family: FontAwesome;
	font-size: inherit;

}

.title-chart{
	font-family: "Helvetica Neue";
	font-size: 48px;
	color: #73879c;
	align-content: center;
}

.badge{
	position: absolute;
	top: -5px;
	left:18px;
}

.chart{
	background: rgba(255, 255, 255, 1);
}




/*
menu hộp tin nhắn
*/
.animate {
    -webkit-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.animate:nth-child(odd){   
  -webkit-transform-origin: top;
  -webkit-transform: perspective(700px) rotateX(-90deg);
  -moz-transform-origin: top;
  -moz-transform: perspective(700px) rotateX(-90deg);
  -ms-transform-origin: top;
  -ms-transform: perspective(700px) rotateX(-90deg);
  -o-transform-origin: top;
  -o-transform: perspective(700px) rotateX(-90deg);
  transform-origin: top;
  transform: perspective(700px) rotateX(-90deg);
}
.animate:nth-child(even){
   margin-top:-65px;
  -webkit-transform-origin: bottom;
  -webkit-transform: perspective(700px) rotateX(90deg);
  -moz-transform-origin: bottom;
  -moz-transform: perspective(700px) rotateX(90deg);
  -ms-transform-origin: bottom;
  -ms-transform: perspective(700px) rotateX(90deg);
  -o-transform-origin: bottom;
  -o-transform: perspective(700px) rotateX(90deg);
  transform-origin: bottom;
  transform: perspective(700px) rotateX(90deg);
}
.fixedBox:hover .animate:nth-child(odd){
  -webkit-transform-origin: top;
  -webkit-transform: perspective(700px) rotateX(0deg);
  -moz-transform-origin: top;
  -moz-transform: perspective(700px) rotateX(0deg);
  -ms-transform-origin: top;
  -ms-transform: perspective(700px) rotateX(0deg);
  -o-transform-origin: top;
  -o-transform: perspective(700px) rotateX(0deg);
  transform-origin: top;
  transform: perspective(700px) rotateX(0deg);
  margin-top:0;
}
.fixedBox:hover .animate:nth-child(even){
  -webkit-transform-origin: bottom;
  -webkit-transform: perspective(700px) rotateX(0deg);
  -moz-transform-origin: bottom;
  -moz-transform: perspective(700px) rotateX(0deg);
  -ms-transform-origin: bottom;
  -ms-transform: perspective(700px) rotateX(0deg);
  -o-transform-origin: bottom;
  -o-transform: perspective(700px) rotateX(0deg);
  transform-origin: bottom;
  transform: perspective(700px) rotateX(0deg);
   margin-top:0;
}



/* mesing */

ul.msg_list li {
  background: #f7f7f7;
  padding: 5px;
  display: flex;
  margin: 6px 6px 0;
  width: 96% !important;
}
ul.msg_list li:last-child {
  margin-bottom: 6px;
  padding: 10px;
}
ul.msg_list li a {
  padding: 3px 5px !important;
}
ul.msg_list li a .image img {
  border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  float: left;
  margin-right: 10px;
  width: 20%;
}
ul.msg_list li a .time {
  font-size: 11px;
  font-style: italic;
  font-weight: bold;
  position: absolute;
  right: 35px;
}
ul.msg_list li a .name {
  font-size: 14px;
  font-weight: bold;
  right: 35px;
}

ul.msg_list li a .message {
  display: block !important;
  font-size: 11px;
  text-transform: none;
}
.dropdown-menu.msg_list span {
  white-space: normal;
}
.dropdown-menu {
  border: medium none;
  box-shadow: none;
  display: none;
  float: left;
  font-size: 12px;
  left: 0;
  list-style: none outside none;
  padding: 0;
  position: absolute;
  text-shadow: none;
  top: 100%;
  z-index: 1000;
  border: 1px solid #D9DEE4;
  border-top-left-radius: 10;
  border-top-right-radius: 10;
  
}
.dropdown-menu>li>a {
  color: #5A738E;
}
.nav-holder .open .dropdown-menu {
  position: absolute;
  background: #fff;
  margin-top: 0;
  border: 1px solid #D9DEE4;
  -webkit-box-shadow: none;
  right: 0;
  left: auto;
  width: 220px;
}
.nav-holder .open .dropdown-menu.msg_list {
  width: 300px;
}
.info-number .badge {
  font-size: 10px;
  font-weight: normal;
  line-height: 13px;
  padding: 2px 6px;
  position: absolute;
  right: 2px;
  top: 8px;
}
ul.to_do {
  padding: 0;
}
ul.to_do li {
  background: #f3f3f3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  padding: 7px;
  margin-bottom: 5px;
  list-style: none;
}
ul.to_do p {
  margin: 0;
}

.dropdown-menu a {
    cursor: pointer;
}


ul.msg_list li:last-child {
    margin-bottom: 6px;
    padding: 5px;
}

